fastapi
uvicorn[standard]
langgraph
langgraph-checkpoint-sqlite
langchain-core
langchain-deepseek
langchain-ollama
langchain-neo4j
sqlalchemy
aiomysql
redis
faiss-cpu
sentence-transformers
PyPDF2
aiohttp
openai
python-jose[cryptography]
loguru
pydantic-settings
Pillow
requests
pytest
pytest-asyncio
